<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alzheimer's Disease Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!--GitHub icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Appland - v4.7.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="#"><img src="static/assets/img/logo.png" alt="" class="img-fluid"> Alzheimer's Disease Prediction </a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="{{url_for('main')}}">Home</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('main')}}">Alzheimer's Disease Classifier</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('main')}}">About Us</a></li>
            {% if person["is_logged_in"] %}
            <li><a class="nav-link scrollto" href="/previous-results">Previous Results</a></li>
            <li class="dropdown"><a href="#"><span>{{ person["name"] }}</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
            {% else %}
            <li><a class="nav-link scrollto" href="/login">Log In</a></li>          
            {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <div>
            <h1>Alzheimer's Disease</h1>
            <p>
              Alzheimer's disease is the most common type of dementia. It is a progressive disease beginning with mild
              memory loss and possibly leading to loss of the ability to carry on a conversation and respond to the
              environment. Alzheimer's disease involves parts of the brain that control thought, memory, and language.
            </p>
            <p>
              Using this website, you can find out if an MRI image is Alzheimer's disease.
              It is classified according to four different stages of Alzheimer's disease.
            <ol>
              <li>Mild Demented</li>
              <li>Moderate Demented</li>
              <li>Non Demented</li>
              <li>Very Mild Demented</li>
            </ol>
            </p>
            <h2>Upload your MRI image, then learn if you have Alzheimer's disease or not.</h2>
            <p>PS: This project cannot be used for serious medical purposes.</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <img src="static/assets/img/brain.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Disease Classifier Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Alzheimer's Disease Classifier</h2>
          <h4>Upload your MRI image, then learn if you have Alzheimer's disease or not.</h4>
        </div>

        <div class="row">

          <div class="col-lg-12">
            <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Upload Your Image:</label>
                <div class="col-lg-12">
                  </br>
                  <input type="file" class="form-control" placeholder="Hours Studied" name="my_image" id="pwd">
                  </br>
                </div>
              </div>
              </br>
              <div class="form-group">
                <div class="col-lg-2">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>

            {% if prediction %}
            </br>
            <img src="{{img_path}}" height="400px" width="400px">
            </br>
            </br>
            <h2> Alzheimer Disease Prediction : <i> {{prediction}} </i></h2>

            {% endif %}
          </div>
        </div>

      </div>
    </section><!-- End Disease Classifier Section -->

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <h4>This website includes Sakarya University Final Year Project of Özge Çinko and Kader Miyanyedi.
          </h4>
          <h5>GitHub Repository of Alzheimer's Disease Classifier: <a
              href="https://github.com/ozgecinko/AlzheimersDiseaseClassifier"><i class="fa fa-github"></i></a></h5>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-12">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6">
                  <h4>Özge Çinko</h4>
                  <p>Computer Science and Engineering student at Sakarya University.</p>
                  <p>
                    <a href="https://github.com/ozgecinko"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/ozgecinko/"><i class="fa fa-linkedin"></i></a>
                  </p>
                </div>
                <div class="col-md-6">
                  <h4>Kader Miyanyedi</h4>
                  <p>Computer Science and Engineering student at Sakarya University.</p>
                  <p>
                    <a href="https://github.com/Kadermiyanyedi"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/kadermiyanyedi/"><i class="fa fa-linkedin"></i></a>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>